body {
    width: 95%;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 100px;
    padding-top: 0;
    padding-bottom: 0;

    background-color: #EEEEEE;
    color: #444;

    font-size: 1.4rem;
    line-height: 1.5;
    font-family: Constantia, "Lucida Bright", Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif;
}

a {
    color: #2B6CB0;
}
a:visited {
    color: #553C9A;
}

h1 {
    margin-bottom: 0px;
}
p {
    margin-top: 0;
}

img, iframe {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 40px auto 40px auto;
}
iframe {
    max-height: 500px
}

audio {
    width: 100%;
    margin-bottom: 20px;
}

footer {
    border-top: 1px solid #444;
    margin: 40px 0;
    padding-top: 25px;
}

.figure .caption {
    text-align: center;
    font-size: 1rem;
}

.twitter-tweet {
    margin: auto;
}

blockquote {
    margin-left: 0;
    margin-right: 0;
}

blockquote:before {
    color: #ccc;
    content: "“";
    font-size: 4em;
    position:relative;
    top: 0.45em;
    line-height: 0.05em;
}
blockquote p {
    display: inline;
}

ul li {
    margin-bottom: 10px;
}

dl dt {
    color: black;
    font-style: italic;
}